.welcome_container {
  position: absolute;
  bottom: 65rem;
  @media screen and (max-width: 1500px) {
    bottom: 97rem;
  }
  h1 {
    font-size: 6rem;
    font-weight: lighter;
    span {
      color: var(--primary-color);
    }
  }
  p {
    font-size: 1.8rem;
  }
}