.welcome_container {
  position: absolute;
  top: -15rem;
  h1 {
    font-size: 6rem;
    font-weight: lighter;
    span {
      color: var(--primary-color);
    }
  }
  p {
    font-size: 1.8rem;
  }
}