.NotFound_container {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  margin-top: -10rem;
  width: 40rem;
  margin-left: -20rem;
  text-align: center;
  h1, h2, .nav_link {
    color: var(--primary-color)
  }
  h1 {
    font-size: 25rem;
    @media screen and (max-width: 400px) {
      font-size: 18rem!important;
    }
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  .nav_link {
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 10rem;
  }
}