.daily_key_card_container {
  display: flex;
  flex-direction: row;
  position: relative;
  background: var(--tertiary-color);
  height: 12.5rem;
  width: 30rem;
  border-radius: 0.5rem;
  align-items: center;
  @media screen and (max-width: 1500px) {
   margin:  1rem 0;
  }
  img {
    margin-left: 3rem;
    width: 8rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3rem;
    span {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.6rem;
      color: gray;
      font-weight: lighter;
    }
  }
}