.average_session_duration_container {
  background-color: var(--primary-color);
  width: 25rem;
  height: 25rem;
  border-radius: 1rem;
  h2 {
    color: rgba(234, 240, 246, 0.8);
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 1.6rem;
  }
}

.average_session_duration_tooltip {
  background-color: #ffffff;
  padding: 1rem;
}
