.user_profil_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30rem;
  left: 15rem;
}

.user_profil_bottom_part {
  padding-top: 1rem ;
  display: flex;
  flex-flow: row wrap;
  flex-flow: row wrap;
}