.user_profil_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 30rem;
  left: 20rem;
}

.user_profil_bottom_part {
  margin-top: 12rem ;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
